<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Page introuvable</h1>
            <p><a href="/">aller sur la page d'accueil</a></p>
        </div>
    </div>
</div>